<footer
  class="text-center bg-gradient-to-b from-gray-900 to-black border-r-10 border-gray-800 p-5 text-white"
>
  <p>
    Página realizada con <a href="https://astro.build">Astro</a>.
  </p>
</footer>
