<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="bg-gradient-to-b from-gray-900 to-black border-r-10 border-gray-800 rounded-full p-2"
  >
    <ul class="flex gap-4 items-center justify-center text-white font-bold">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Sobre nosotros</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
